  # List comprehension

In [2]:
mystring ='hello'

In [7]:
mylist=[]

for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist = [letter for letter in mystring]

In [12]:
mylist

['h', 'e', 'l', 'l', 'o']

In [15]:
mylist=[x for x in range(0,11)]

In [17]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
mylist=[x for x in 'word']

In [20]:
mylist

['w', 'o', 'r', 'd']

In [21]:
mylist=[num**2 for num in range(0,11)]

In [22]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
mylist=[num**3 for num in range(0,11)]

In [24]:
mylist

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [25]:
mylist=[]

for num in range(0,11):
    mylist.append(num**2)

In [26]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
mylist=[x for x in range(0,11) if x%2==0]

In [29]:
mylist

[0, 2, 4, 6, 8, 10]

In [32]:
mylist = [x if x%2==0 else 'odd' for x in range(0,11)]

In [33]:
mylist

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [34]:
mylist=[x**2 for x in range(0,11) if x%2==0]

In [35]:
mylist

[0, 4, 16, 36, 64, 100]

In [36]:
celcius = [0, 10, 20, 34.5]

In [38]:
fahrenheit=[((9/5)*temp+32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [39]:
mylist= []
for x in [2,2,3]:
    for y in [1000,2000,2222]:
        mylist.append(x*y)

In [40]:
mylist

[2000, 4000, 4444, 2000, 4000, 4444, 3000, 6000, 6666]

In [41]:
mylist = [x*y for x in [2,3,4] for y in [100,222]]

In [42]:
mylist

[200, 444, 300, 666, 400, 888]

In [13]:
transposed=[]
matrix = [[1,2,3,4],
          [4,5,6,7]]
for i in range(len(matrix[0])):
    transposed_row=[]   
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

In [14]:
transposed

[[1, 4], [2, 5], [3, 6], [4, 7]]

In [1]:
    transposed = [[row[i] for row in [[1,2,3,4],[4,5,6,7]]]for i in range(3)]
    transposed

[[1, 4], [2, 5], [3, 6]]

In [2]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]